<p>book-list works!</p>

<arz-book-card
  *ngIf="false"
  (arzSelectBook)="handleSelectBook($event)"
  [arzContent]="{
    isbn: '1-234',
    title: 'Es',
    author: 'Stephen King',
    abstract: ''
  }"
>
</arz-book-card>

<ng-template #loader>
  <h1>
    Wird geladen...
  </h1>
</ng-template>

<ng-container *ngIf="books$ | async as things; else loader">
  <p>
    {{ things.length }}
  </p>

  <ol>
    <li *ngFor="let book of things">
      <arz-book-card
        [arzContent]="book"
        (arzSelectBook)="handleSelectBook($event)"
      ></arz-book-card>
    </li>
  </ol>
</ng-container>
